$primary: #FFFFFF;
$secondary: #b71a1b;
$white: #FFFFFF;
$gray: #503e3f;
$black: #201F1F;
$persic: #C68457;


$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --primary-color: rgb(245, 0, 0);
}



