@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1330 * 10);
  }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  @include breakpoint($jb-bp) {
    font-size: calc(100vw / 850 * 10);
  }

  @include breakpoint($lb-bp) {
    font-size: calc(100vw / 650 * 10);
  }


  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }

  
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

body {

}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

/* Vendors */



/* Blocks */

@import './blocks/menu.scss';
@import './blocks/swiper.scss';
@import './blocks/main.scss';
@import './blocks/header.scss';




.hide {
  display: none;
}

.show {
  display: block;
}
