@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1440 * 10);
  }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }

  
}



*,
*:before,
*:after {
  box-sizing: inherit;
}

body {

}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

/* Vendors */



/* Blocks */

@import './blocks/menu.scss';
@import './blocks/swiper.scss';
@import './blocks/main.scss';
@import './blocks/header.scss';




.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  padding-right: 4rem;
  padding-left: 4rem;
  @include breakpoint($cos-bp) {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  @include breakpoint($xl-bp) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  @include breakpoint($sm-bp) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
