.carte {
  margin-top: 12.1rem;
  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
}

.carte-title {
  margin-top: 0;
}

.carte-head {
  @include breakpoint($xl-bp) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.carte-menu {
  @include breakpoint($xl-bp) {
    margin-top: 5rem;
  }
}

.carte-top {
  display: grid;
  grid-template-columns: 27rem 1fr;
  gap: 20rem;
  align-items: center;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}

.search {
  height: min-content;
  position: relative;
  @include breakpoint($xl-bp) {
    width: 100%;
  }
}

.search-btn {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  top: 50%;
  left: 5rem;
  transform: translate3d(0, -50%, 0);
  @include breakpoint($xl-bp) {
    left: 2rem;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: var(--black);
    opacity: 0.3;
    @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 1;
    }
    }
  }
}

.carte-input {
  padding-left: 8.8rem;
  width: 100%;
  @include breakpoint($xl-bp) {
    padding-left: 5.5rem;
  }
}

.product-tabbtn.catalog-tabbtn {
  color: var(--black, #242021);
  font-family: Gilroy;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
  }
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;

  }
}

.catalog-item {
  background-color: var(--grey);
  border-radius: 4rem;
  padding: 4rem 1.8rem;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
  }
  .smenu-basket {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 800;
    border-color: var(--orange);
  }
}

.catalog-tabs {
display: flex;
align-items: center;
justify-content: center;
gap: 4rem;
overflow: auto;
@include breakpoint($xl-bp) {
  justify-content: flex-start;
  gap: 1rem;
}
}

.catalog-inner {
  display: none;
}

.catalog-content {
  margin-top: 4rem;
  @include breakpoint($xl-bp) {
    margin-top: 0;
  }
  & > * {
    animation: fadeEffect .3s;
  }
}