.footer {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.footer-list {
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  gap: 4rem;
  @include breakpoint($xl-bp) {
    flex-direction: column  ;
    font-size: 1.6rem;
    gap: 2rem;
  }
}

.footer-item a {
  opacity: 0.3;
  transition: opacity .3s;
  @media (hover: hover) and (pointer: fine) {
  &:hover {
    opacity: 1;
  }
  }
}

.footer-logo {
  height: 4rem;
  img {
    object-position: right;
    @include breakpoint($xl-bp) {
      object-position: left;
    }
  }
}

.footer-info {
  display: flex;
  gap: 6rem;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    gap: 1.5rem;
  }
  & > * {
    color: var(--black, #242021);
    font-family: Gilroy;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.3;
    @include breakpoint($xl-bp) {
      font-size: 1.6rem;
    }
  }
}

.footer-company {
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.3;
  margin-top: 2rem;
  display: block;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
  }
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  margin-top: 0.7rem;
  @include breakpoint($xl-bp) {
    margin-top: 0;
    gap: 4rem;
  }
}

.footer-right {
  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
}

.footer-politics {
  text-align: start;
}