.header {
  position: sticky;
  width: 100%;
  transition: transform .3s, box-shadow .3s;
  will-change: transform;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--white);
  @include breakpoint($xl-bp) {
    will-change: auto; 
  }
}

.out {
  transform: translate3d(0, calc(-100% - 1rem), 0);
  @include breakpoint($xl-bp) {
    transform: none;
  }
}

.header--active {
  box-shadow: 0px 2rem 2rem -1rem rgba(26, 28, 25, 0.1);
  @include breakpoint($xl-bp) {
    box-shadow: 0px 1rem 1rem -1rem rgba(26, 28, 25, 0.1);
  }
}

.header-right {
  display: flex;
  @include breakpoint($xl-bp) {
    justify-content: space-between;
    width: 100%;
  }
}

.header-logoes {
  display: flex;
  @include breakpoint($xl-bp) {
    margin-top: -0.2rem;
    position: relative;
    z-index: 1;
  }
}

.header-logo-1 {
  width: 6.93rem;
  height: 4rem;
  margin-right: 2rem;
  @include breakpoint($xl-bp) {
    height: 2.2rem;
    width: 3.8rem;
  }
}

.header-logo-2 {
  width: 14.3rem;
  height: 3.6rem;
  margin-right: 4rem;
  margin-top: 0.4rem;
  @include breakpoint($xl-bp) {
    width: 7.9rem;
    height: 2rem;
    margin-top: 0.1rem;
    margin-right: 0;
  }
}

.bag {
  width: 4rem;
  height: 4rem;
  display: block;
  stroke: var(--black);
  fill: transparent;
  position: relative;
  @include breakpoint($xl-bp) {
    width: 2.4rem;
    height: 2.4rem;
  }
  &:before {
    content: attr(data-count);
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white, #FFF);
    font-family: Gilroy;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-color: var(--orange);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    border: 0.2rem solid var(--white);
    @include breakpoint($xl-bp) {
      font-size: 1.2rem;
      font-weight: 500;
      width: 2rem;
      height: 2rem;
      top: -0.5rem;
      right: -1rem;
    }
  }
  @media (hover: hover) and (pointer: fine) {
  &:hover {
    stroke: var(--orange);
  }
  }
}