
.main {
    font-family: Inter;

    .home {

        height: calc(100vh - 9.7rem);
        min-height: 86.3rem;

        background: no-repeat (left bottom) url('../images/main/mainBg.png') $black;

        &__container {
            padding-left: 76.7rem;
            padding-top: 12.2rem;

            font-size: 10rem;
            text-transform: uppercase;
            font-weight: 700;

            display: flex;
            flex-direction: column;
            gap: 4.5rem;
        }

        &__text {
            line-height: 12.1rem;
        }

        &__text:nth-child(1) {
            width: 75.1rem;
        }
        &__text:nth-child(2) {
            color:  $persic;
            padding-left: 16rem;
            width: 43.7rem;
        }
        &__text:nth-child(3) {
            padding-left: 30rem;
            width: 63.1rem;
        }
        &__buy {
            font-size: 1.8rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 30rem;
            height: 5.2rem;

            color: $persic;

            border: 0.1rem solid $persic;
            border-radius: 0.5rem;

            margin-top: 2.1rem;
            margin-left: 60rem;
        }
    }

    .topSales {
        padding-left: $border;
        padding-right: $border;

        height: 92.6rem;

        &__img {
            height: 23.5rem;
            width: 25.1rem;
            object-fit: contain;
        }
        &__title {
            font-weight: 700;
            font-size: 6rem;
            color: $black;
            line-height: 7.3rem;

            margin-top: 12rem;
            margin-bottom: 5rem;
        }

        &__item {
            margin-bottom: 3rem;
            color: $black;
            border-radius: 1rem;
            padding: 4rem;
            width: 33.2rem;
            height: 49.7rem;

            background: #F3F3F3;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
        }
        &__name {
            font-family: InterReg;
            font-weight: 400;
            font-size: 1.8rem;
        }

        &__wrapper {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

            &__priceContainer {
                margin-top: 6.5rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
    
            &__pastPrice {
                color: #8D8D8D;
                font-family: InterReg;
                text-decoration: line-through;
            }
    
            &__mainPrice {
                font-weight: 700;
                font-size: 3rem;
                line-height: 3.6rem;
            }
    
            &__credit {
                font-family: InterReg;
            }
            &__busketButton {
                width: 4.5rem;
                height: 4.2rem;
                border: 1px solid $persic;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
            }
            &__busketIcon {
                width: 2.5rem;
                height: 2.2rem;
                fill: $persic;
            }
            &__buttonContainer {
                width: 100%;
                display: flex;
            }
            &__prevButton {
                margin-left: auto;
                margin-right: 0;
                height: 4rem;
                width: 3.5rem;
                border: 0.1rem solid $persic;
                border-radius: 0.5rem 0rem 0rem 0.5rem;
                background-color: transparent;
            }
            &__nextButton {
                height: 4rem;
                width: 3.5rem;
                border: 0.1rem solid $persic;
                border-radius: 0rem 0.5rem 0.5rem 0rem;
                background-color: transparent;
            }
    }
}