.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translateX(100%);
  height: 100%;
  width: 30%;
  background-color: lightblue;
  transition: all 1s ease;
}

.menu--open {
  transform: translateX(0);
}

.menu-button {
  width: 30px;
  height: 30px;

  background-color: red;

  position: absolute;

  right: 0;
  top: 0;

  z-index: 3;
}

.menu-button--active {

}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}