.menu {
  padding-top: 0.7rem;

  @include breakpoint($xl-bp) {
    transform: translate3d(-100%, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--white);
    transition: transform .3s;
    width: 100%;
    padding-top: 6.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.menu-nav {
  @include breakpoint($xl-bp) {
    max-height: 100%;
    overflow: auto;
  }

  .mcontacts-left {
    display: none;

    @include breakpoint($xl-bp) {
      display: flex;
      margin-top: 8rem;
      margin-bottom: 4rem;
    }
  }
}

.menu-list {
  display: flex;
  gap: 4rem;
  font-family: Gilroy;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  @include breakpoint($xl-bp) {
    flex-direction: column;
    height: 100%;
    // overflow: auto;
    align-items: center;
    font-size: 2.6rem;
    padding-top: 4rem;
    max-height: 100%;
  }
}

.menu-subbtn {
  display: flex;
  gap: 1rem;
  position: relative;
  z-index: 1;

  @include breakpoint($xl-bp) {
    align-items: center;
    margin-left: 3rem;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        &:after {
          transform: rotate(0deg);
        }
      }
    }

    &.opened {
      opacity: 1;

      &::after {
        transform: rotate(0);
      }
    }

    &.opened:hover+.menu-sublist {
      max-height: 200vh;
      opacity: 1;
      pointer-events: all;
    }

    &.opened+.menu-sublist {
      max-height: 200vh;
      opacity: 1;
      pointer-events: all;
    }
  }

  &::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 14.5833L7.71875 16.052L12.5 11.2812L17.2812 16.052L18.75 14.5833L12.5 8.33325L6.25 14.5833Z' fill='%23242021'/%3E%3C/svg%3E%0A");
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    transform: rotate(180deg);
    transition: opacity .3s, transform .3s;
  }
}

.menu-item {
  position: relative;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .menu-subbtn {
        opacity: 1;
  
        &::after {
          transform: rotate(0);
  
          @include breakpoint($xl-bp) {
            transform: rotate(0);
          }
        }
      }
  
      .menu-sublist {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  @include breakpoint($xl-bp) {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    &::after {
      content: '';
      width: 100%;
      height: calc(100% + 4rem);
      background-color: transparent;
      border: 1px solid rgba(36, 32, 33, 0.30);
      position: absolute;
      top: -2rem;
      left: 0;
      border-radius: 4rem;
      opacity: 0;
      transition: opacity .3s;
      pointer-events: none;
      will-change: opacity;
    }

    &.opened {
      &::after {
        opacity: 1;
      }

      .menu-sublist {
        max-height: 200vh;
        opacity: 1;
        pointer-events: all;
      }

      .menu-subbtn {
        opacity: 1;

        &:hover {
          &::after {
            transform: rotate(180);
          }
        }

        &::after {
          transform: rotate(0) !important;
        }
      }
    }
  }
}

.menu-item>a {
  opacity: 0.3;
  transition: opacity .3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 1;
    }
  }
}

.menu-sublist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  padding-top: 2rem;
  width: 100%;

  @include breakpoint($xl-bp) {
    position: relative;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    transition: max-height .3s;
    align-items: center;

    &>* {
      &:first-child {
        margin-top: 2rem;
      }
    }
  }

  &:before {
    content: '';
    width: calc(100% + 6rem);
    height: calc(100% + 6.5rem);
    position: absolute;
    left: -3rem;
    top: -4.5rem;
    background-color: var(--white);
    border-radius: 4rem;
    border: 0.1rem solid rgba(36, 32, 33, 0.30);

    @include breakpoint($xl-bp) {
      opacity: 0;
    }
  }

  a {
    display: block;
    opacity: 0.3;
    transition: opacity .3s;
    position: relative;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 1;
      }
    }
  }
}

.out {
  .menu-sublist {
    opacity: 0;
    pointer-events: none;

    @include breakpoint($xl-bp) {
      opacity: 1;
      pointer-events: all;
    }
  }

  .menu-item {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .menu-sublist {
          opacity: 0;
          pointer-events: none;
  
          @include breakpoint($xl-bp) {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }

}

.menu--open {
  transform: translate3d(0, 0, 0);
}

.menu-button {
  background-color: transparent;
  border: 0;

  z-index: 4;
  display: none;
  position: relative;

  @include breakpoint($xl-bp) {
    display: block;
    height: 1.6rem;
    width: 1.9rem;
    margin-top: 0.4rem;
    margin-left: 0.3rem;
  }

  .burger-button-close {

    #first-line-burger,
    #second-line-burger,
    #third-line-burger {
      width: 100%;
      height: 0.2rem;
      border-radius: 0.1rem;
      background-color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: center center;
      transition: transform 0.4s ease, opacity 0.4s ease;
    }

    #first-line-burger {
      top: 0%;
    }

    #second-line-burger {
      transform: translate3d(-50%, -50%, 0);
    }

    #third-line-burger {
      top: unset;
      bottom: 0%;
    }
  }
}

.header__menu-button--active,
.menu-button--active {
  .burger-button-close {
    #first-line-burger {
      top: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    #second-line-burger {
      transform: translateX(100%);
      opacity: 0;
    }

    #third-line-burger {
      top: 50%;
      bottom: 0;
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}


.menu-button--active {}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}