<footer class="footer container">
  <div class="footer-left">
    <ul class="footer-list">
      <li class="footer-item"><a href="about.html">О нас</a></li>
      <li class="footer-item"><a href="rent.html">Аренда помещений</a></li>
      <li class="footer-item"><a href="gallery.html">Галерея</a></li>
      <li class="footer-item"><a href="contacts.html">Контакты</a></li>
    </ul>
    <div class="footer-info">
      <div>© 2022 Все права защищены</div>
      <button class="footer-politics" data-modal="politics">Политика конфиденциальности</button>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-logo img-contain">
      <img class="lazyload" data-src="./assets/images/footer/logo.svg" alt="logo">
    </div>
    <a href="https://yar-studio.com/" class="footer-company">Разработка сайта Студия ЯР</a>
  </div>

</footer>