<header class="header container">
  {{> menu}}

  <div class="header-right">

    <button class="menu-button" aria-label="open menu">
      <span class="burger-button-close">
        <span id="first-line-burger"></span>
        <span id="second-line-burger"></span>
        <span id="third-line-burger"></span>
      </span>
    </button>

    <div class="header-logoes">
      <a href="main.html" class="header-logo-1 img-contain">
        <img src="./assets/images/logo/1.svg" alt="яква">
      </a>
  
      <a href="main.html" class="header-logo-2 img-contain">
        <img src="./assets/images/logo/2.svg" alt="я quick">
      </a>
    </div>

    <a href="basket.html" class="bag" aria-label="open basket" data-count="4"><svg>
        <use xlink:href='./assets/images/sprite.svg#bag'></use>
      </svg></a>
  </div>
</header>