<header class="header">
  <a class="header__logo" href="#">Apple Stock</a>
  <nav class="header__list">
    <a href="#" class="header__item">iPhone</a>
    <a href="#" class="header__item">Android</a>
    <a href="#" class="header__item">Apple Watch</a>
    <a href="#" class="header__item">iMac</a>
    <a href="#" class="header__item">iPad</a>
    <a href="#" class="header__item">Аксессуары</a>
    <a href="#" class="header__item">Macbook</a>
    <a href="#" class="header__item">Наушники</a>
  </nav>
  <nav class="header__contacts">
    <a href="#" class="header__contactItem">
      <!-- <svg class="header__whatsUpIcon">
        <use href="#WhatsUpIcon"></use>
      </svg> -->
      <img class="header__whatsUpIcon" src="../assets/images/header/whatsUpIcon.svg" alt="">
    </a>
    <a href="#" class="header__contactItem">
      <svg class="header__telegramIcon">
        <use href="#TelegramIcon"></use>
      </svg>
    </a>
    <a href="#" class="header__contactItem">
      <!-- <svg class="header__phoneIcon">
        <use href="#PhoneIcon"></use>
      </svg> -->
      <img src="./../assets/images/header/phoneIcon.svg" alt="">
    </a>
    <a href="#" class="header__contactItem">
      <svg class="header__searchIcon">
        <use href="#SearchIcon"></use>
      </svg>
    </a>
    <a href="#" class="header__contactItem">
      <!-- <svg class="header__busketIcon">
        <use href="#BusketIcon"></use>
      </svg> -->
      <img src="./../assets/images/header/busketIcon.svg" alt="">
    </a>
    <svg class="header__burgerMenuIcon">
      <use href="#BurgerMenuIcon"></use>
    </svg>
  </nav>
</header>