<div class="smenu-mainSwiper-wrapper">
  <div class="swiper smenu-mainSwiper">
    <div class="swiper-wrapper">
      {{> menuItem}}
      {{> menuItem}}
    </div>
  </div>
  <div class="smenu-navigation">
    <button class="smenu-prev-button prev">Предыдущая</button>
    <div class="smenu-numbers">
      <span class="smenu-main-number"></span>
      <div class="smenu-line"></div>
      <span class="smenu-all-number"></span>
    </div>
    <button class="smenu-next-button next">Следующая</button>
  </div>
</div>