<div class="menu">
  <nav class="menu-nav">
    <ul class="menu-list">
      <li class="menu-item"><a href="about.html">О нас</a></li>
      <li class="menu-item">
        <a class="menu-subbtn" href="carte.html">Меню блюд</a>
        <ul class="menu-sublist">
          <li class="menu-subitem"><a href="carte.html?category=first">Первое</a></li>
          <li class="menu-subitem"><a href="carte.html?category=second">Второе</a></li>
          <li class="menu-subitem"><a href="carte.html?category=salats">Салаты</a></li>
          <li class="menu-subitem"><a href="carte.html?category=drinks">Напитки</a></li>
        </ul>
      </li>
      <li class="menu-item"><a href="rent.html">Аренда помещений</a></li>
      <li class="menu-item"><a href="gallery.html">Галерея</a></li>
      <li class="menu-item"><a href="contacts.html">Контакты</a></li>
    </ul>

    <div class="mcontacts-left">
      <ul class="mcontacts-info">
        <li class="mcontacts-item">
          <div class="mcontacts-name">Адрес</div>
          <div class="mcontacts-link">г. Ставрополь, ул. Мира, 332</div>
        </li>
        <li class="mcontacts-item">
          <div class="mcontacts-name">Телефон</div>
          <a href="tel:+79999999999" class="mcontacts-link">+7 999 999 99 99</a>
        </li>
        <li class="mcontacts-item">
          <div class="mcontacts-name">Почта</div>
          <a href="mailto:яква@yandex.ru" class="mcontacts-link">яква@yandex.ru</a>
        </li>
      </ul>

      <ul class="mcontacts-socials">
        <li class="mcontacts-social whatsapp">
          <a href="#">
            <svg>
              <use xlink:href='./assets/images/sprite.svg#whatsapp'></use>
            </svg>
          </a>
        </li>
        <li class="mcontacts-social telegram">
          <a href="#">
            <svg>
              <use xlink:href='./assets/images/sprite.svg#telegram'></use>
            </svg>
          </a>
        </li>
        <li class="mcontacts-social mailru">
          <a href="#">
            <svg>
              <use xlink:href='./assets/images/sprite.svg#mailru'></use>
            </svg>
          </a>
        </li>
        <li class="mcontacts-social youtube">
          <a href="#">
            <svg>
              <use xlink:href='./assets/images/sprite.svg#youtube'></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>