<div class="swiper-slide smenu-item">
  <div class="smenu-img img-contain">
    <img src="./assets/images/products/1.png" alt="Спагетти">
  </div>
  <div class="smenu-info">
    <div class="smenu-name">Спагетти</div>
    <div class="smenu-composition">Состав: зеленый салат, помидоры, куриное филе, белый хлеб, соус “Цезарь”, сливочное масло, чеснок,
      сыр
      пармезан</div>
    <div class="smenu-price"><span data-price>550</span> ₽</div>

    <div class="smenu-bot">
      <div class="smenu-wrap">
        <button type="button" class="plusminus-btn" data-minus>-</button>
        <input type="number" class="plusminus-input" value="1" data-min="1" data-max="100" data-step="1" aria-label="number of dishes">
        <button type="button" class="plusminus-btn" data-plus>+</button>
      </div>

      <button class="smenu-basket" onclick="this.classList.toggle('active')"><span class="add">Добавить в корзину</span><span
          class="added">Добавлено</span></button>
    </div>
  </div>

</div>
<div class="swiper-slide smenu-item">
  <div class="smenu-img img-contain">
    <img src="./assets/images/products/2.png" alt="Спагетти Болоньезе">
  </div>
  <div class="smenu-info">
    <div class="smenu-name">Спагетти Болоньезе</div>
    <div class="smenu-composition">Состав: зеленый салат, помидоры, куриное филе, белый хлеб, соус “Цезарь”, сливочное масло, чеснок,
      сыр
      пармезан</div>
    <div class="smenu-price"><span data-price>550</span> ₽</div>

    <div class="smenu-bot">
      <div class="smenu-wrap">
        <button type="button" class="plusminus-btn" data-minus>-</button>
        <input type="number" class="plusminus-input" value="1" data-min="1" data-max="100" data-step="1" aria-label="number of dishes">
        <button type="button" class="plusminus-btn" data-plus>+</button>
      </div>

      <button class="smenu-basket" onclick="this.classList.toggle('active')"><span class="add">Добавить в корзину</span><span
          class="added">Добавлено</span></button>
    </div>
  </div>

</div>