<section class="mgallery mt-160">
  <h2 class="mgallery-title container" data-animonscroll="bottom">Галерея</h2>

  <div class="mgallery-wrapper">
    <div class="swiper mgallery-swiper-mob container">
      <div class="swiper-wrapper">
        @for(let i=1;i<=5;i++) { 
        <div class="swiper-slide img-cover">
          <img class="lazyload" data-src="./assets/images/mgallery/`+i+`.jpg" alt="mgallery">
        </div>
        }
        @for(let i=1;i<=5;i++) { 
        <div class="swiper-slide img-cover">
          <img class="lazyload" data-src="./assets/images/mgallery/`+i+`.jpg" alt="mgallery">
        </div>
        }
      </div>
      <div class="swiper-navigation mgallery-mob-navigation">
        <button class="smenu-prev-button prev">Предыдущая</button>
        <button class="smenu-next-button next">Следующая</button>
      </div>
    </div>
  <div class="mgallery-swiper-wrapper">
    <div class="swiper mgallery-swiper-desc container">
    </div>
    <div class="swiper-navigation mgallery-desc-navigation">
      <button class="smenu-prev-button prev">Предыдущая</button>
      <div class="smenu-numbers">
        <span class="smenu-main-number"></span>
        <div class="smenu-line"></div>
        <span class="smenu-all-number"></span>
      </div>
      <button class="smenu-next-button next">Следующая</button>
    </div>
  </div>
  </div>
</section>