<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    {{> sprite }}

    <div class="page">
        
        <!-- Header -->

        {{> header }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- Footer -->
        {{> footer }}

    </div>

    <!-- JS -->
    <!-- <script src="assets/js/components/swiper.js"></script> -->
    <script src="assets/js/app.js"></script>
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
</body>

</html>